.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-header-container {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

.header-menu-container {
  display: flex;
  gap: 1rem;
  position: relative;
}

@media (max-width: 340px) {
  .header-container {
    display: flex;
    align-items: unset;
    justify-content: unset;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .header-menu-container {
    justify-content: flex-end;
  }
}
