$white-0: #ffffff;
$white-1: #efefef;
$white-2: #e3e3e3;
$white-3: #d2d2d2;
$white-4: #c2c2c2;
$white-5: #b2b2b2;
$white-6: #a0a0a0;

$black-0: #707070;
$black-1: #5a5a5a;
$black-2: #5a5a5a;
$black-3: #484848;
$black-4: #383838;
$black-5: #1d1d1d;
$black-6: #000000;

$green-0: #affc41;
$green-1: #a8ff2e;
$green-2: #9fff17;

$red-0: #ff5a40;
$red-1: #fe4f34;
$red-2: #ff4225;

$transition: background-color 0.2s ease-in-out, opacity 0.1s ease-in-out,
  fill 0.2s ease-in-out;
