@import '../../globals';

.checkbox-basic {
  min-width: 1.5rem;
  height: 1.5rem;
  outline-width: 0.2rem;
  outline-style: solid;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: $transition;
}

.checkbox-basic-light {
  outline-color: $white-3;

  &:hover {
    background-color: $white-4;
  }

  &:active {
    background-color: $white-5;
  }

  &:checked {
    background-color: $green-0;
  }
}

.checkbox-basic-dark {
  outline-color: $black-2;

  &:hover {
    background-color: $black-3;
  }

  &:active {
    background-color: $black-4;
  }

  &:checked {
    background-color: $green-0;
  }
}
